use nix

export PROJECT_ROOT="$(readlink -f .)"
export STATE_DIR="$PROJECT_ROOT/ignore/state"
export CONFIG_DIR="$PROJECT_ROOT/config"

export PGDATA="$STATE_DIR/postgres"
export PGHOST="$PGDATA"
export PGDATABASE="postgres"

export PATH="$PROJECT_ROOT/bin/.aliases:$PROJECT_ROOT/bin:$PATH"
